In [52]:
# Dependencies
import pandas as pd
import numpy as np

In [53]:
# Read CSVs
measurement_df = pd.read_csv("Resources/hawaii_measurements.csv")
station_df = pd.read_csv("Resources/hawaii_stations.csv")

In [54]:
measurement_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [55]:
measurement_df = measurement_df.dropna()

In [56]:
station_df

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [57]:
measurement_df.count()

station    18103
date       18103
prcp       18103
tobs       18103
dtype: int64

In [58]:
station_df.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [59]:
measurement_df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [60]:
measurement_df['date'].astype(str)

0        2010-01-01
1        2010-01-02
2        2010-01-03
3        2010-01-04
5        2010-01-07
6        2010-01-08
7        2010-01-09
8        2010-01-10
9        2010-01-11
10       2010-01-12
11       2010-01-14
12       2010-01-15
13       2010-01-16
14       2010-01-17
15       2010-01-18
16       2010-01-19
17       2010-01-20
18       2010-01-21
19       2010-01-22
20       2010-01-23
21       2010-01-24
22       2010-01-25
23       2010-01-26
24       2010-01-27
25       2010-01-28
27       2010-01-31
28       2010-02-01
30       2010-02-04
31       2010-02-05
32       2010-02-06
            ...
19513    2017-07-17
19514    2017-07-18
19515    2017-07-19
19516    2017-07-20
19517    2017-07-21
19518    2017-07-22
19519    2017-07-23
19520    2017-07-24
19521    2017-07-25
19522    2017-07-26
19523    2017-07-27
19524    2017-07-28
19525    2017-07-29
19526    2017-07-30
19527    2017-07-31
19529    2017-08-02
19530    2017-08-03
19533    2017-08-07
19534    2017-08-08
19535    2017-08-09
19536    2017-08-10
19538    2017-08-12
19540    2017-08-14
19541    2017-08-15
19542    2017-08-16
19543    2017-08-17
19545    2017-08-19
19547    2017-08-21
19548    2017-08-22
19549    2017-08-23
Name: date, Length: 18103, dtype: object

In [61]:
measurement_df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [62]:
station_df.dtypes

station       object
name          object
latitude     float64
longitude    float64
elevation    float64
dtype: object

In [63]:
station_df.to_csv("Resources/hawaii_stations_clean.csv", index=False, header=True)

In [64]:
grouped_measurement_df = measurement_df.groupby(['station'])
grouped_measurement_df.count()

             date  prcp  tobs
station
USC00511918  1932  1932  1932
USC00513117  2696  2696  2696
USC00514830  1937  1937  1937
USC00516128  2484  2484  2484
USC00517948   683   683   683
USC00518838   342   342   342
USC00519281  2772  2772  2772
USC00519397  2685  2685  2685
USC00519523  2572  2572  2572

In [65]:
measurement_df.to_csv("Resources/hawaii_measurements_clean.csv", index=True, header=True)